#####  Binary files  #####
bin/
obj/

##### Library files ######
lib/mjpeg/
lib/xml

##### Trace files ######
*.csv

##### Image files ######
*.png
*.svg
*.eps

##### Text files ######
*.xml
*.txt

##### Temp files ######
*~
*#
\#*
*.o
.\#*
.DS_Store

##### Documentation Files #####
Doxyfile
doc/
