#####  Binary files  #####
bin/
obj/

##### Library files ######
lib/mjpeg
lib/xml
lib/tasks

##### Trace files ######
*.csv

##### Image files ######
*.png
*.svg
*.eps

##### Temp files ######
*~
*#
\#*
*.o
.\#*
.DS_Store

##### Documentation Files #####
Doxyfile
doc/
